﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" href="%PUBLIC_URL%/favicon.ico" />
    <title>Calculate Menu</title>
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<body>
    <div class="formula__trop"></div>
    <div class="figura__trop"></div>
    <div class="body__stretcher">
        <div class="container">
            @RenderBody()
        </div>
    </div>
</body>
</html>