﻿@{
    Layout = "/Views/Shared/_constructor.cshtml";
}
<h2>Введи параметры трапеции в заданные поля</h2>
<div id="error__message">(введите ЧИСЛО больше нуля)</div>
<form action="" method="post">
    <input type="number" id="wid__T" placeholder="Длина(а)" name="widthTop" value="" />
    <input type="number" id="wid__B" placeholder="Длина(б)" name="widthBot" value="" />
    <input type="number" id="hei" placeholder="Высота" name="Height" value="" />
    <button>Посчитать</button>
</form>
<script src="~/jquery-3.4.1.min.js"></script>
<script src="~/indexjs.js"></script>

