﻿@{ 
    Layout = "/Views/Shared/_constructor.cshtml";
}

        <h1>Привет, здесь ты можешь посчитать площадь трапеции</h1>
        <h2>Кликай на кнопку, чтобы продолжить</h2>      
        <a href="/Home/Calculator/">Продолжить</a>
        
