﻿body {
    background: radial-gradient(circle, rgba(164,159,140,1) 0%, rgba(38,29,20,0.75) 100%, rgba(7,8,9,0.7483368347338936) 100%);
    width: 99vw;
    height: 100%;
    font-family: sans-serif;
    overflow:hidden;
}
form{
    margin-right:auto;
    margin-left:auto;
}
.container h2, h1 {
    color: #FF6633;
    text-align: center;
}

.container {
    margin-left: auto;
    z-index: 10;
    margin-right: auto;
    width: 45vw;
    margin-top: 15vh;
    padding: 3vw;
    background-color: rgba(241, 231, 231, 0.4);
    display: flex;
    flex-direction: column;
    border-radius: 30px;
}

    .container input {
        text-align: center;
        background-color: rgba(251, 250, 229, 0.8);
        margin-top:15px;
        border: 3px solid #92917f;
        font-size: 20px;
        height: 40px;
        width: 100%;
        border-style: none;
        border-radius: 18px;
    }
    .container button {
        text-align: center;
        margin: 15px 0 15px 0;
        background-color: rgba(251, 250, 229, 0.8);
        border: 3px solid #92917f;
        font-size: 20px;
        height: 40px;
        width: 100%;
        border-style: none;
        border-radius: 18px;
        background-color: #f57b35;
        border: 3px solid rgba(219, 213, 213, 0.75);
        color: white;
        transition: all ease .3s;
    }
        .container button:hover {
            background-color: #8e5d20;
        }
        input:hover {
            border: 1px solid #4bb6fe;
        }

input:focus {
    box-shadow: 1px 1px 14px #6cf5f5;
    border: 2px solid #24cbd5;
}

.container a {
    text-align: center;
    text-decoration: none;
    font-size: 22px;
    color: white;
    padding: 7px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 18px;
    background-color: #f57b35;
    border: 3px solid rgba(219, 213, 213, 0.75);
    width: 35vw;
    transition: all .2s ease;
}

    .container a:hover {
        background-color: #8e5d20;
    }
.inputError{
    border: 3px solid red;
    box-shadow: 1px 1px 25px red;
}
#error__message {
    display: none;
    color: red;
    text-align:center;
    font-family: sans-serif;
    font-size: 13px;
}
.formula__trop {
    width: 270px;
    height: 150px;
    position: absolute;
    background-image: url(../img/formula.png);
    bottom: 49px;
    right: 31px;
    transform: rotate(42deg);
    z-index: 1000;
    animation-name: form;
    animation-duration: 70s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-play-state: running;
    opacity: 0.8;
    transition: all 1.3s ease;
}
    .formula__trop:hover {
        background-color: white;
        border-radius: 50%;
        opacity: 0.3;
    }
.figura__trop {
    opacity:0.7;
    width: 220px;
    height: 220px;
    position: absolute;
    background-image: url(../img/figure.png);
    left: 20px;
    top: 31px;
    transform: rotate(286deg);
    animation-name: fig;
    animation-duration: 70s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-play-state: running;
    transition: all 1.5s ease;
}
    .figura__trop:hover {
        background-color:orange;
        border-radius:50%;
        opacity:0.3;
    }
    @keyframes fig {
        50% {
        left: 38px;
        top: 82%;
        transform: rotate(31deg);
        transform:scale3d(0.8);
    }
    100% {
        top: 90%;
        rotation: 199deg;
        left: 89%;
        transform: rotate(-174deg);
        transform: scale3d(0.9);
    }
}
/*bottom: 20px;
right: 31px;*/
@keyframes form {
    50% {
        bottom: 81%;
        right:53px;
        transform: rotate(355deg);
        transform: scale3d(0.8);
    }

    100% {
        right: 60%;
        rotation: 199deg;
        bottom:12%;
        transform: rotate(527deg);
        transform: scale3d(0.9);
    }
}